<ngx-one-column-layout>
  <nb-menu [items]="menu"></nb-menu>
  <router-outlet>
    <div class="card-row">
      <div class="card-col">
        <nb-card size="tiny">
          <nb-card-header>Noticias <button nbButton size="tiny" class="float-right" (click)="nuevaNoticia()">Nuevo</button>
    </nb-card-header>
          <nb-accordion>
           <nb-accordion-item *ngFor="let n of noticias">
            <nb-accordion-item-header>{{n.TITULO+"  "}}{{ n.FECHA}}</nb-accordion-item-header>
            <nb-accordion-item-body>
              {{n.DESCRIPCION}}
              <img src={{n.URLFoto}} class="img-thumbnail" alt="Responsive image">

            </nb-accordion-item-body>
           </nb-accordion-item>
          </nb-accordion>

        </nb-card>

      </div>

    </div>

  </router-outlet>
</ngx-one-column-layout>
